.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 3em;
  }
.foot{
    position: relative;
    top: 0.5em;
}
.foot2{
    position: relative;
}
@media (max-width: 768px){
    .foot{
        top: 0.3px;
    }
}