*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar {
    display: none;
    }
.nav-link{
    font-weight: bold;
}

.headings{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.sub-head{
    color: green;
}
.carousel .item {
    width: 1600px;
    height: 574px;
  }
  
.item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
}
#About{
    margin-top: 60px;
}
.about-heads{
    font-family: 'DynaPuff', cursive;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width: 768px) {
    #About {
        height: 100%;
    }
    .about3{
        width: 200px;
    }
    .footer{
        height: 100%;
    }
    .location{
        position: relative;
        left: 5em;
    }
    .footer{
        position: relative;
        right: 2em;
    }
    .navigation{
        position: relative;
        top: 1em;
    }
    .footer2{
        position: relative;
        top: 3.5em;
    }
    /* .foot-cont{
        position: relative;
        right: 8em;
    } */
    /* .carousel-inner > .item > img {
        height:900px;
      } */
    .main-link{
        position: relative;
        left: 6em;
      }
      .about-img2{
        position: relative;
        left: 8em;
      }
      .img-heigh{
        width: 250px;
      }
      .about-img3{
        margin: 0 auto;
      }
      .footer2{
        width: 5em;
      }
      .foot2{
        position: relative;
        left: 2em;
      }
      
      
}
.banner-container {
    /* background-image: url("https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YWdyaWN1bHR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YWdyaWN1bHR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #1c1c1c7a;
    text-align: center;
    padding: 160px 15px;
    height: 30.3em;
}

@media (max-width: 768px) {
    .banner-container {
        padding: 100px 15px;
        height:40em;
        width: 100%;
    }
}
.footer{
    margin: 0 auto;
    width: 80%;
}
.foot{
    position: relative;
    bottom: 3em;
}
.navs{
    width: 20%;
    align-items:baseline;
}
.heading-footer{
    position: relative;
    bottom: 5em;
}
.navigation a{
    text-decoration: none;
    font-size: 20px;
}
.footer2{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 3em;
    /* background: rgba(0, 0, 0, 0.5); */
    /*width: 100%;
    position: relative;
    right: 2em; */
}
.foot-cont{
    position: relative;
    top: 1em;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
